h1 {
    font-family: 'Philosopher', sans-serif;
    color: whitesmoke;
    background-color: rgba(57, 85, 63, 0.753);
    margin-bottom: 0;
    padding: 20px;
}
body {
    background-color: rgb(216, 230, 216);
}
.container {
    color: green;
    margin-top: 15px;
}
.carousel-item {
    height: 375px;
    margin-bottom: 15px;
}
.card {
    margin-bottom: 15px;
    margin-top: 15px;
}
.portfolioparagrah {
    background-color: rgb(187, 212, 187);
    padding: 30px;
}
.col-md-04 {
    height: 20%;
}
.wrapper {
    width: 600px;
    margin: auto;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(187,212,187);
    color: white;
    text-align: center;
@media screen and (min-width: 400px) {
body{
    margin: 0;
    padding: 0;
}
}