
p{
    font-size: larger;
}
h1 {
  font-family: "Philosopher", sans-serif;
  color: whitesmoke;
  background-color: rgba(57, 85, 63, 0.753);
  margin-bottom: 0;
  padding: 20px;
}

body {
  background-image: url('./../images/bigbearlakesunset.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h2 {
  margin-bottom: 20px;
}

.container {
  color: rgb(131, 74, 0);
  margin-top: 15px;
  height: 650px;
}
#borderAdj{
  padding-bottom: 60px;
}
.card {
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: transparent;
  border: none;
}
.cardContainer{
  padding: 15px;
  opacity: 0.95;
  background-color: rgba(57, 85, 63, 0.753);
  border-radius: 10px;
  color: whitesmoke;
}
.top-right-card {
  padding: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(187, 212, 187);
  color: whitesmoke;
  text-align: center;
  opacity: 0.8;
}
.contact-form {
  font-family: "Barlow Condensed";
  color: whitesmoke;
  background-color: rgba(57, 85, 63, 0.753);
  padding: 40px;
}
.aboutmetext .col-md-6 {
  background-color: rgba(57, 85, 63, 0.753);
}
.navbar{
  opacity: .8;
}
@media screen and (min-width: 576px) {
  body {
    margin: 0;
    padding: 0;
  }
}


/* .wrapper {
   height: 650px; 
   margin: auto;
   object-fit: contain;
 } */
/* .carousel-item {
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
}
.carousel-item img {
  width: auto;
  height: 650px;
  max-height: 650px;
} */